.container {
    max-width: 1224px;
    margin: 0 auto;
}

.content {
    width: 100%;
    display: flex;
}

.nav-container {
    width: 15%;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav__link {
    padding: 12px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
}

.posts-container {
    width: 60%;
}

.filters {
    width: 20%;
    margin-left: 50px;
}
